body
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.footer-class
{
    position: fixed;
   left: 10%;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
} 
a#top:hover
{
    color:#dddddd;
    cursor: pointer;
}
.profilepic img
{
    margin-top: 40px;
    margin-left: 70px;
   width: 100px;
    height: 100px; 
    border-radius: 50px 50px 50px 50px;
}
.profile-details
{

  font-family: 'Open Sans', sans-serif;
  color: black;
  text-decoration: none;
    letter-spacing: 2px;
    top: 200px;
    position: absolute;
    width: 210px;
    height: 60px;
    word-break: break-all;
    text-align: center;
    margin-left: 10px;
}
.contacts
{
    border:1px solid  lightgrey;
    position: absolute;
    width: 250px;
    height: 350px;
    margin-top: 60px;
    overflow: auto;
}
.name
{

    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 15px;
    width: 100px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container
{
    display:flex;
    cursor: pointer;
}

.container:hover{
    
    background:black;
}

.contacts hr
{
    height: 0.1px;
}
#pname
{
    margin-top: 0px;
    padding-top: 0px;
    font-weight: lighter;
    font-size: 20px;
}

.chat-box
{
    position: fixed;
    left: 25%;
    bottom: 8%;
    right: 5%;
    width: 70%;
    height:60px;
    border-radius: 5px;
    border:1px solid darkgrey;
    box-sizing: border-box;
}

input
{
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
}

.enter
{
    position: fixed;
    bottom: 9.5%;
    right: 6%;
    width: 36px;
    height:36px;
    background-image: url("images/enter.png");
    background-color: white;
    border:none;
}
.chat-space
{
    border:1px solid rgb(150,221,173);
    position: absolute;
    width: 70%;
    left: 25%;
    top:14%;
    right: 5%;
    bottom: 20%;
    height: 59%;
    float: right;
    max-height: 64%;
    overflow: auto;
}
.received-text
{
    padding-top: 10px;
    min-height:50px;
    height:auto;
    max-width: 30%;
    background: #c2f9c2;
    border-radius: 20px 20px 20px 20px;
    color: #181918;
    position: relative;
    left:50px;
    margin:20px 20px 20px 20px;

}
.sender-text
{
    padding-top: 10px;
    min-height: 50px;
    height:auto;
    max-width: 30%;
    background: #1b2d1b;
    border-radius: 20px 20px 20px 20px;
    color: white;
    position: relative;
    left:600px;
    margin:20px 20px 20px 20px;
    margin-right: 0px;  
}
.received-text p
{
    margin-left: 20px;
    margin-right: 20px;
}
.sender-text p
{
    margin-left: 20px;
    margin-right: 20px; 
}
