{% load static %}
<!DOCTYPE html>

<html>
  
  <head>
    
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Book detail</title>
    <link rel="stylesheet" href="{% static 'project_bstore/bookdetail.css' %}">   
     
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <title>index</title>
  
  </head>

  <body>
    

    <div class="menu1"> 

      {% if user.is_authenticated %}
        <div class="logo">B-Store</div>
        <a href='#'>contact us</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'profile' %}">profile</a>
        <a href="{% url 'chat_index_direct_url' %}">Chat with a seller/buyer</a>
        <a href="{% url 'chat_index_group_url' %}">Book Clubs</a>
        <a href="{% url 'sellbookpage' %}">sell/buy/exchange books</a>
        <a href="{% url 'bstore_home' %}">home</a>
        
      {% else %}  
        <div class="logo">B-Store</div>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'bstore_register' %}">Register</a>
      {% endif %}
    
    </div>
    
    <!-- for showing the book details on the home page -->
    <div class="details">
        <img class="books_images" src="{{ book_details.image_url }}">
        <div class="text">
            <p class="titl">{{book_details.title}}</p><br>
            <p class="smtxt">By - {{book_details.author}}</p><br>
            <p class="smtxt">Rating - {{book_details.rating}}</p>
            <p class="smtxt">Book ISBN - {{book_details.isbn10}}</p>
            <p class="smtxt">Publication Year - {{book_details.publication_year}}</p>
            {% if book_details.read_url == 'nan'%}
                <p class="smtxt">BOOK NOT AVAILABLE FOR READING</p>
            {% else %}
            <div class="newb">
                <a href={{book_details.read_url}} target="_blank">Read / Listen</a></div>
            {% endif %}
        </div>
    </div>

    <div style="position:absolute;bottom: 10px;left: 500px;color: grey;"><footer><center>&copy; Copyright 2019 bstore</center></footer></div>
  </body>
</html>
