{% load static %}
<!DOCTYPE html>

<html>
  
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'project_bstore/search.css' %}">   
     
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  
  </head>
  
  <body>


    
    <div class="menu1"> 

      {% if user.is_authenticated %}
        <div class="logo">B-Store</div>
        <a href='#'>contact us</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'profile' %}">profile</a>
        <a href="{% url 'chat_index_direct_url' %}">Chat with a seller/buyer</a>
        <a href="{% url 'chat_index_group_url' %}">Book Clubs</a>
        <a href="{% url 'sellbookpage' %}">sell/buy/exchange books</a>
        <a href="{% url 'bstore_home' %}">home</a>
        
      {% else %}  
        <div class="logo">B-Store</div>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'bstore_register' %}">Register</a>
      {% endif %}
    
    </div>
    
    <br> 
        <form id="submit" method='POST' action='{% url "searching" %}'>
          {% csrf_token %}
            <input type="text" name='query' id="search-bar" placeholder="search here.." required>
            <button class="search-icon" onclick="document.getElementById('submit').submit();"></button>
            <select class="sele" name="criteria">
                <option value="1">ISBN</option>
                <option value="2">Title</option>
                <option value="3">Author</option>
            </select>
        </form> 
    </br>
    


    {% for b in book_details %}
        <div class="details">
            <img class="books_images" src="{{ b.image_url }}">
            <div class="text">
                <p class="titl">{{b.title}}</p><br>
                <p class="smtxt">By - {{b.author}}</p><br>
                <p class="smtxt"> Rating - {{b.rating}}</p>
                <form id="submit" method='POST' action='{% url "booksdetail" %}'>
                    {% csrf_token %}
                    <div class="newb">
                    <button name="q" value="{{ b.id }}" type="submit">learn more</button></div>
                </form>
            </div>
        </div>

   

    {% empty %} 
        <h1>No Books Found according to the search criteria</h1>
    {% endfor %}

    <div class="page" >
        {% for idx in num_pages %}
            <a href="?page={{idx}}" style="margin-right:10px">P{{idx}}</a>
        {% endfor %}
    </div>
    <div><center>&copy; Copyright 2019 bstore</center></div>
  </body>
</html>
