{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'project_bstore/post-form.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>post a new book</title>
 
  </head>

  <body style="margin: 0px 0px 0px 0px;">


  <div class="menu">  
    {% if user.is_authenticated %}
    <div class="logo">B-Store</div>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'profile' %}">profile</a>
    <a href="{% url 'chat_index_direct_url' %}">Chat with a seller/buyer</a>
    <a href="{% url 'chat_index_group_url' %}">Book Clubs</a>
    <a href="{% url 'sellbookpage' %}">sell/buy/exchange books</a>
    <a href="{% url 'bstore_home' %}">home</a>
    
    {% else %}
    <div class="logo">B-Store</div>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'bstore_register' %}">Register</a>
    {% endif %}
  </div>

    {% load crispy_forms_tags %}
    <div class="content-section">
     <p class="log"> Post a new book</p>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
              {{ form|crispy }}
          <div  class="form-group">
              <button type="">post</button>
          </div>
      </form>
      <div>
          
      </div>
    </div>

    <!-- plugins for bootstrap -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>
