{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'project_bstore/sell.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<title>sell or lend a book</title>

</head>
<body style="margin: 0px 0px 0px 0px;">

	<div class="menu">  
		{% if user.is_authenticated %}
		<div class="logo">B-Store</div>
		<a href="{% url 'logout' %}">Logout</a>
		<a href="{% url 'profile' %}">profile</a>
        <a href="{% url 'chat_index_direct_url' %}">Chat with a seller/buyer</a>
        <a href="{% url 'chat_index_group_url' %}">Book Clubs</a>
        <a href="{% url 'sellbookpage' %}">sell/buy/exchange books</a>
		<a href="{% url 'post-create' %}">create post</a>
		<a href="{% url 'bstore_home' %}">home</a>
		{% else %}
		<div class="logo">B-Store</div>
		<a href="{% url 'login' %}">Login</a>
		<a href="{% url 'bstore_register' %}">Register</a>
		{% endif %}
	</div>
	<br>
	
	{% for post in posts %}
		
		<div style="display:inline-block; margin-top: 2em;margin-left: 3em; border:1px solid lightgrey;padding: 2em 2em 2em 2em; width: 23%;">
			
			<img style="width: 75px;height: 75px;border-radius: 75px 75px 75px 75px;" src="{{post.seller.profile.image.url}}">
			

			<a style="width:200px; text-decoration: none; font-size: 25px;position: absolute;margin-left: 1%;word-wrap: break-word;height: 60px;overflow-y: auto; " href="{% url 'post-detail' post.id %}">{{ post.title }}</a>

			<p style="color: grey;font-size: 13px;display: inline-block;margin-top: 0px;margin-left: 1em;">By {{ post.seller }} on {{ post.date_posted|date:"F d, Y" }}</p>
			
			<img style="width: 300px;height: 290px;margin-top: 1em;"src = "{{post.picture.url}}">
			
			<p style="margin-top:2em;overflow:auto; width: 300px;height: 200px;overflow-wrap: break-word;letter-spacing: 1px;font-family: 'Open Sans', sans-serif;color: grey; font-size: 14px;">{{ post.content }}</p>
		
		</div>
	
	{% endfor %}
</body>
</html>